.App {
  text-align: center;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 75px;
  line-height: 85px;
}

.bannerBg {
  background-image: linear-gradient(
    180deg,
    #e55971 0%,
    #ee6475 49.44%,
    #fc767b 100%
  );
  background-repeat: no-repeat;
  height: 600px;
  width: 590px;
  position: absolute;
  top: 0;
  z-index: -10;
  right: -0.1px;
  border-radius: 30% 0% 0% 50%;

  overflow-x: hidden;
}

@media screen and (max-width: 600px) {
  .example {
    overflow: hidden;
  }
  h1 {
    font-size: 70px;
    text-align: start;
  }

  h5 {
    text-align: start;
  }
  .bannerBg {
    background-image: linear-gradient(white, white);
  }

  .bnrimg {
    top: 250px;
    position: absolute;
  }
  .bannerbg {
    background-image: linear-gradient(#e55971 0%, #ee6475 60%, #fc767b 100%);
    background-repeat: no-repeat;
    height: 350px;
    width: 300px;
    position: fixed;
    z-index: -10;
    right: 0;
    top: 240px;
    border-radius: 30% 0% 0% 40%;
  }
  .bnrtitle {
    position: absolute;
    margin-top: 30px;
  }
  .bnrbtn {
    position: absolute;
    margin-top: 690px;
    /* align-items: start; */
    /* display: flex; */
  }
  .bnrSpn {
    position: absolute;
    margin-top: 580px;
  }
}
